div {
    width: 200px;
    height: 200px;
    background-color:cadetblue;

    animation-name: box;
    animation-duration: 4s;
}
         @keyframes box{

        0%{background-color: red;}
        25%{background-color: coral;}
        50%{background-color: darkorange;}  
        75%{background-color: darkorchid;}
        100%{background-color: cadetblue;}   
         }